*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

body{
    color:#ededed;
    background: black;
    
}

.element{
    font-family: cursive;
    font-style:oblique;
    font-size: 20px;
}
#name{
    font-family: cursive;
    font-style:oblique;
    font-size: 30px;
    animation: slideTop 15s ease forwards;
    animation-delay: calc(.2s * var(--i));
    height: 100vh;
    width: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default; 
    opacity: 0;
    animation: slideRight 1s ease forwards;  
}
.navbar a{
    display: inline-block;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover {
    color: rgb(4, 251, 86);
}
.home{
    position: relative;
    justify-content: space-between;
    background: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}


.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px; 
    background: rgb(4, 251, 86);
    transition: 0.5s; 
    animation: Rotate 4s linear infinite;
}
.box:hover::before{
    inset: -20px 0px;  

}
@keyframes Rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: black; 
    border-radius: 50%;
}
.CONTENT{
    position: absolute;
    inset: 30px;
    border: 6px solid white;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CONTENT img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    pointer-events: none;
    z-index: 3;
}
.box:hover .CONTENT img{
    opacity: 0;
} 

.CONTENT h2{
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/*-------*/
.home-content{
    max-width: 600px;
    color: #fff;
}
.home-content h3{
    font-size: 29px;
    font-weight: 700;
    opacity: 0;
    animation:slideBottom 1s ease forwards ;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: rgb(4, 251, 86);
}
.home-content h1 span{
    color: rgb(4, 251, 86);
}
.home-content h1{
    font-size: 30px;
    font-weight: 700;
    margin: -3px 0;  
}
.home-content p{
    font-size: 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(4, 251, 86);
    font-size: 20px;
    border-radius: 50%;
    color: rgb(4, 251, 86);
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
   background: rgb(4, 251, 86);
   color: #081b29;
   box-shadow: 0 0 20px rgb(4, 251, 86);
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(4, 251, 86);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(4, 251, 86),
    0 0 25px rgb(4, 251, 86)
}
.btn-box:hover{
    box-shadow: 0 0 5px rgb(4, 251, 86),
    0 0 25px rgb(4, 251, 86),0 0 50px rgb(4, 251, 86),
    0 0 100px rgb(4, 251, 86),0 0 200px rgb(4, 251, 86)
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    background: black;
    
}


/**/
.box1{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
}
.box1::before{
    content: '';
    position: absolute;
    inset: -10px 140px; /* circle background size*/
    background: rgb(4, 251, 86);
    transition: 0.5s; /*animation time*/
    animation: Rotate 4s linear infinite;
}
.box1:hover::before{
    inset: -20px 0px;  /* circle background size*/

}
@keyframes Rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box1::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: black;
    border-radius: 50%;
}
.CONTENT1{
    position: absolute;
    inset: 30px;
    border: 6px solid white;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CONTENT1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    pointer-events: none;
    z-index: 3;
}
.box:hover .CONTENT1 img{
    opacity: 0;
} 
.CONTENT1 h2{
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
/**/
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    opacity: 0;
    animation: slideBottom .6s ease forwards;
    animation-delay: 1s;

}
.about-text h2{
    font-size: 60px; 
    padding-bottom: 10px;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.about-text hr{
    width: 275px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.about-text h2 span{
    color: rgb(4, 251, 86);

}

.about-text h4{
  
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideRight .6s ease forwards;
    animation-delay: 1s;
    
}
.about-text p{
    padding-top: 15px;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    opacity: 0;
    animation: slideLeft .6s ease forwards;
    animation-delay: 1s;
}

.My-services{
    display: grid;
    grid-template-columns:subgrid;
     padding: 90px;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title{
    padding-bottom: 7px;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.sub-title span{
    color: rgb(4, 251, 86);
}
.container{
    padding:90px;
}


.divide{
    
   display: grid;
   grid-template-columns: repeat(2,1fr);
  
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;

}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
   font-size: 17px;
   font-weight: 500;
   animation: showText 0.5s 1s linear forwards;
   opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: rgb(4, 251, 86);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0); 
    transform-origin: left;
}

.progress-line.html span{
    width: 60%;
}
.progress-line.css span{
    width: 50%;
}
.progress-line.javascript span{
    width: 20%;
}
.progress-line.java span{
    width: 40%;
}
.progress-line.c-plus-plus span{
    width: 50%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
  
    content: "60%";
}
.progress-line.css span::after{
   
    content: "50%";
}
.progress-line.javascript span::after{
    
    content: "20%";
}
.progress-line.java span::after{
    content: "40%";
}
.progress-line.c-plus-plus span::after{
    content: "50%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;

}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;

    }
}
.path {
    stroke-width: 10;
    stroke: rgb(4, 251, 86);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}
.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;;
        
        
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;;
    }
}
.radial-bars .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    padding-left: 950px;
    left: 50%;
    bottom: -5px;
    transform: translate(-1000px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}
.main-text{
   padding-top: 130px;
   margin-top: 200px;
  
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text span{
    color: rgb(4, 251, 86);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    display: block;
    transition: transform 0.5s;
    
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),rgb(4, 251, 86));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
    
}

.layer h5{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  
}
.layer p{
    color: white;
    font-size: 1rem;
    line-height: 1.8;
    
}

.layer i{
    color: rgb(4, 251, 86);
    margin-top: 20px;
    font-size: 55px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
.row:hover img{
    opacity: 0;
    transition: .5s;
    transform: scale(1.1);
    text-decoration: none;
}
.row:hover .layer{
    height: 100%;
    text-decoration: none;
}

.Contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 55px;
   
}
.contact-text{
    padding-left: 20px;
} 
.contact-form{
    border: 1px solid white;
    border-radius: 30px;
   
}
.form{
    align-items: center;
    padding: 30px;
    padding-right: 0;
}

.contact-text{
    background: black;
}

.contact-text h2{
    font-size: 65px;
    padding-left: 60px;
    line-height: 1;
    text-align: center;
    padding-bottom: 100px;
    transition: .5s ease;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-text h2 span{
    color: rgb(4, 251, 86);
    font-size: 55px;
    transition: .5s ease;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-text h4{
    margin: 15px 0;
    color: rgba(228,228,228);
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    transition: .5s ease;
   opacity: 0;
   animation: slideTop 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-text p{
    color: rgba(177, 177,177);
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 30px;
    margin-bottom: 2rem;
    transition: .5s ease;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-list {
    margin-bottom: 3rem;
    transition: .5s ease;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-list li{
   margin-bottom: 10px;
   display: block;
   transition: .5s ease;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-list i{
    display: inline-block;
    color: rgb(4, 251, 86);
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    transition: .5s ease;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: rgb(4, 251, 86);
}
.contact-icons a{
     text-decoration: none;
     display: inline-block;
     transition: .5s ease;
   opacity: 0;
   animation: slideBottom 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.contact-icons i{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(4, 251, 86);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(4, 251, 86)f;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: rgb(4, 251, 86);
    color: #000;
    box-shadow: 0 0 20px rgb(4, 251, 86);
}


.contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: 1px solid white;
    padding: 50px;
   border-radius: 30px;
   
}

.title h2{
   font-weight: 600;
   color: white;
   font-size: 40px;
   margin-bottom: 5px;
   transition: .5s ease;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}
.title h2 span{
    color: rgb(4, 251, 86);
}
.title hr{
    border: none;
    width: 175px;
    height: 1px;
    background-color: white;
    border-radius: 10px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.Name{
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px ;
    padding-left: 25px;
    font-weight: 600;
    color: #666;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.Name:hover{
    box-shadow: 0 0 20px rgb(4, 251, 86);
}

.Email{
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px ;
    padding-left: 25px;
    font-weight: 600;
    color: #666;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.Email:hover{
    box-shadow: 0 0 20px rgb(4, 251, 86);
}

.Message{
    width: 450px;
    height: 200px;
    border: none;
    outline: none;
    border-radius: 30px ;
    padding-left: 25px;
    font-weight: 600;
    color: #666;
    padding-top: 20px;
    resize: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i)); 
}

.Message:hover{
    box-shadow: 0 0 20px rgb(4, 251, 86);
}

button{
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 25px;
    font-weight: 600;
    font-size: 20px;
    background: white;
   border: none;
   color: white;
   background: rgb(4, 251, 86);
   transition: .5s ease;
   opacity: 0;
   animation: slideLeft 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
}

button:hover{
    box-shadow: 0 0 5px rgb(4, 251, 86),
    0 0 25px rgb(4, 251, 86),0 0 50px rgb(4, 251, 86),
    0 0 100px rgb(4, 251, 86),0 0 200px rgb(4, 251, 86)  
}
@media (max-width:800px){
    .name{
        width:80vh;
    }
}


.last-text p{
   width: 100%;
   text-align: center;
   padding: 25px 0;
   background: rgb(7, 91, 43);
   font-weight: 300;
   margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color: #000;
    background: rgb(4, 251, 86);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}